.alert-container {
    padding-top: $l-size; 
    text-align: center;
    background: $light-blue;
    border-radius: 20px;
    color: white;
    width: 400px;
    height: 250px;
    margin: 100px auto;
}

.alert-container-button {
    margin-top: 80px;
    border-radius: 5px;
    background: white;
    height: 40px;
    width: 80px;
    position: relative;
}

.alert-container-button-internal {
    margin-top: 75px;
}

.alert-container-alert {
    margin-top: 50px;
    font-size: $m-size;
}